[init]
	defaultBranch = master
	templatedir = ~/.git-templates
[user]
	email = sergiu4096@gmail.com
	name = sergiu128
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com"]
	insteadOf = https://github.com/
[core]
	editor = nvim
	autocrlf = input
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
